[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/felworld/mod-playerbots
[submodule "env/dist/etc"]
	path = env/dist/etc
	url = https://github.com/felworld/configs
[submodule "modules/mod-llm"]
	path = modules/mod-llm
	url = https://github.com/felworld/mod-llm
[submodule "modules/mod-ah-bot-plus"]
	path = modules/mod-ah-bot-plus
	url = https://github.com/felworld/mod-ah-bot-plus
